<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpF22D40156F8E16FBFA89C752FF9D0EF9" Guid="{FE7DE782-9EA2-4150-948A-CA7F01D2CE92}">
                <File Id="fil2DACDED111D2125FD9BAF52808E5CEB0" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-console-l1-1-0.dll" />
            </Component>
            <Component Id="cmp742C123932C1A216E185167E7780B396" Guid="{668D3431-E5B6-4439-8293-A29456B28FEF}">
                <File Id="filD4F5DAB6FC380871476D90A9B278B655" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-datetime-l1-1-0.dll" />
            </Component>
            <Component Id="cmp0C2E6E9A00C3293AC27A114F5CD9CE2A" Guid="{F3F9F6FD-D64E-47AF-A550-CB1BF76B3458}">
                <File Id="filC4BA033347D114D73E0BFDC4F138ED4B" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-debug-l1-1-0.dll" />
            </Component>
            <Component Id="cmp6EBAE5ACCACC27065A435A0042E7BAED" Guid="{993C3ED8-CCC0-4CA4-920C-E5A0E1AB56A1}">
                <File Id="filBE3E8E1D40266192494C4DD3D256E4B0" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-errorhandling-l1-1-0.dll" />
            </Component>
            <Component Id="cmp8654E1D8A29D75D1863BECEDD37AC0AE" Guid="{6FAC90DC-F999-4EFC-96DD-B3C0BFBF60FD}">
                <File Id="filDFD8964B5B00E12A86C400251EF6F77E" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-file-l1-1-0.dll" />
            </Component>
            <Component Id="cmp41E89377B0002CC2350CF2F309C7EF96" Guid="{BD944E5C-0024-4F7C-89E8-4DFFA139A2AB}">
                <File Id="filED19878F18A70E195BF8CDAA0D0E8890" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-file-l1-2-0.dll" />
            </Component>
            <Component Id="cmpDEE5CBC14AEA029E9F4401E5B3982607" Guid="{70BB6ACB-8B83-4443-BB62-9945D5C58F30}">
                <File Id="fil99A16235893D27C698F1132A81059440" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-file-l2-1-0.dll" />
            </Component>
            <Component Id="cmp590BD4AE87E294D1563CF4D557250096" Guid="{B438E4AF-2A42-4E04-B26F-652FBFE29950}">
                <File Id="filD5657AEC19C9FC8E0AF60F470875CF64" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-handle-l1-1-0.dll" />
            </Component>
            <Component Id="cmpCF2CF8C7A0C59052CAA01587AA5785DC" Guid="{121315C0-6FD6-4BC0-8724-3087C9FEA584}">
                <File Id="fil522696687E0EECCAA70A0E9D409F1AFF" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-heap-l1-1-0.dll" />
            </Component>
            <Component Id="cmpDD279108FA0E596011006D554F6A3104" Guid="{12299795-6861-425B-8589-001F3627F2C2}">
                <File Id="fil87D340479265677CE6A63011B082D90C" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-interlocked-l1-1-0.dll" />
            </Component>
            <Component Id="cmpCD74B7BA0C179921851020BBB033014C" Guid="{41188A05-87DA-4B0A-BE35-E84891126A61}">
                <File Id="fil2B1C02B60D25396B459A4FD75F2C3397" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-libraryloader-l1-1-0.dll" />
            </Component>
            <Component Id="cmpAC8BDC4BFF75C5529DB6BFA54526ED0C" Guid="{E8529871-5E9B-4333-B3CA-E3C1197252A4}">
                <File Id="fil166AA52FFB5EC305E92912AB1AD3E8BE" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-localization-l1-2-0.dll" />
            </Component>
            <Component Id="cmp8C8498D921E5B275BE6C7E3DA8DCEB68" Guid="{88ECAB66-2941-4F02-875A-B2F063BE8770}">
                <File Id="fil119FC388EE479D2497F4E5235A4D0A0D" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-memory-l1-1-0.dll" />
            </Component>
            <Component Id="cmp9AE39696CCE4B2BA21A7559EDA2F0D90" Guid="{7B6F0ECE-1178-411B-980D-C39153A716E6}">
                <File Id="filAF1A85247BFD7049AEE00A37035FC723" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-namedpipe-l1-1-0.dll" />
            </Component>
            <Component Id="cmp5D145C20D5E90C9E54B87DDC549105EA" Guid="{E69C637F-00CB-4176-89BF-94111DF2A9EE}">
                <File Id="filED53139C4E70E2ED3BF5C20A13EF04C9" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-processenvironment-l1-1-0.dll" />
            </Component>
            <Component Id="cmp4BC27243200E3663A58563BC8AD5A268" Guid="{22D3677F-0F77-4229-92D3-F522526FA38C}">
                <File Id="fil6C98F7250E35758DF2EAE6D18757B52A" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-processthreads-l1-1-0.dll" />
            </Component>
            <Component Id="cmp3C1343875198F364F70980382E32F197" Guid="{E0C33B04-0660-4F4E-A18C-ACA20D92CA3B}">
                <File Id="filDCFF49060A8650BC3CD76399B278EFB3" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-processthreads-l1-1-1.dll" />
            </Component>
            <Component Id="cmpECDFB8DD1F83358D411D63B1F980153E" Guid="{49667AA4-908E-48A0-A8B9-34F425426428}">
                <File Id="fil473C62601D1A459892F1035DC46D5837" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-profile-l1-1-0.dll" />
            </Component>
            <Component Id="cmp1E66ED1BF30236B52829E44485A58E50" Guid="{875935AC-EB54-481F-9A55-B3B712B48AF5}">
                <File Id="fil86B1657D34671048F554605B02204614" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-rtlsupport-l1-1-0.dll" />
            </Component>
            <Component Id="cmp43C0DEA19BA8D8C7F25F0DD08B502FBD" Guid="{2E19EBEA-34F1-4EFB-92FD-1205A4AB6253}">
                <File Id="filFAB349D875247DA20FBC6095A574364F" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-string-l1-1-0.dll" />
            </Component>
            <Component Id="cmpBE4AFE403859DE3CDCB4C17CE29AD9B1" Guid="{1FC5436B-6520-4C69-9C51-6559547EF25E}">
                <File Id="filE7772A0EC4C57BADD6BD4261E7E1D733" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-synch-l1-1-0.dll" />
            </Component>
            <Component Id="cmp6FB01AFC7883E57A54B9364FE007F69A" Guid="{4276E8E2-8D18-47B0-BD9C-4CE92ABAAAF7}">
                <File Id="filC694EB3BC04DCB9743E89D8C9FCA39F3" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-synch-l1-2-0.dll" />
            </Component>
            <Component Id="cmp34831A79EBBEDE365CF8E47BB8DA4AEE" Guid="{424732CA-6164-4B65-A2DD-918758C5B03F}">
                <File Id="fil156E0DB27CC93BDB6B5984208AF58408" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-sysinfo-l1-1-0.dll" />
            </Component>
            <Component Id="cmpC5B1C289707493DC1A9765CBF1619688" Guid="{9EB104E6-D16B-44F3-AA36-87004CB9187B}">
                <File Id="filF7650F0EE0391337B997E96186D1FABA" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-timezone-l1-1-0.dll" />
            </Component>
            <Component Id="cmpBDCBA58D640E71BC077901A457EFAA06" Guid="{CE1062F7-0073-4791-8566-D182BB423842}">
                <File Id="fil8D8B394F6F988ACC1E93C0D7A19BF8E9" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-core-util-l1-1-0.dll" />
            </Component>
            <Component Id="cmp74F6E981444243E078C5E033BD078819" Guid="{D6FF65C7-458F-4BA3-89D1-2120795C0B4E}">
                <File Id="fil27C5261AF57F48008AECF60CB43570E2" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-conio-l1-1-0.dll" />
            </Component>
            <Component Id="cmp20DD0168324B65A2B89EB723FB32E7F3" Guid="{A6B6B99D-94E8-465F-AE15-061CF5A391ED}">
                <File Id="fil857EC09AC99AFE55013ED23276EA7A26" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-convert-l1-1-0.dll" />
            </Component>
            <Component Id="cmpDD9A8434CB4A6317B4BA2A55410983F6" Guid="{1D1ACC47-C701-4107-B7AA-FF2B758243D9}">
                <File Id="fil05F92919DA01CD87C088B1B7CE3AF0D8" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-environment-l1-1-0.dll" />
            </Component>
            <Component Id="cmp11E56753706BD7FE87724F732A73F490" Guid="{8AB239F6-C7F6-46C0-A1BC-152F5A14CB1A}">
                <File Id="fil7D01539A9AB967EA680352C503C6DC09" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-filesystem-l1-1-0.dll" />
            </Component>
            <Component Id="cmp8A47DE6FFCA0BA39168EFA51F2E3ECFF" Guid="{3742DEDE-FA39-436C-9BD3-EA4058B5BD91}">
                <File Id="fil27C551710BEF5EC4BC328135EEBEA135" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-heap-l1-1-0.dll" />
            </Component>
            <Component Id="cmp4B8C11AC4FCB7CB42D55737034265B39" Guid="{562D06E6-C0AD-4292-BA61-CDE5737626BF}">
                <File Id="fil0B1F8BD818900489ED53DD592A535C47" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-locale-l1-1-0.dll" />
            </Component>
            <Component Id="cmp3E56BCDB6A50B4AA292F631457D3032D" Guid="{57FA28AF-F8F5-4983-8AEA-C1E748D5A030}">
                <File Id="fil2CF8DDC41ED2CCC246838458C09CB0E7" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-math-l1-1-0.dll" />
            </Component>
            <Component Id="cmp995D66766A5CFBA5514D9EBED950459D" Guid="{E6F24D22-87F8-4120-A7C1-D442602CA109}">
                <File Id="fil8A07AAC4EC03297A8FE92F1C6005B6CE" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-multibyte-l1-1-0.dll" />
            </Component>
            <Component Id="cmp4823CF61E7C973B92C27FA84E4DB141A" Guid="{676F86EC-19B5-41CF-9FA4-EB73311520E4}">
                <File Id="fil3620C932251D7355C13ACBDAF2A84082" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-private-l1-1-0.dll" />
            </Component>
            <Component Id="cmp14FD53BFC562B74A90211F6A7FA45EF8" Guid="{B4CFB03A-1600-4BAF-A24C-C98ABA051FF7}">
                <File Id="filFB0713470FD14BAAA182341CB19AF7EF" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-process-l1-1-0.dll" />
            </Component>
            <Component Id="cmp8C8DF6C3F20B60706F1C2D2317BA7664" Guid="{812F8021-5302-44FC-9FD6-8429DDDC8109}">
                <File Id="fil7C86F69C29F28D20530B0BCAF69E9FB9" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-runtime-l1-1-0.dll" />
            </Component>
            <Component Id="cmpFE2451868FE2A2D25EE3375499109233" Guid="{1D7DC310-3A22-4231-B2A8-0928C3FE795B}">
                <File Id="fil1CA9B8B8CFB836B270D48565EC302DA5" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-stdio-l1-1-0.dll" />
            </Component>
            <Component Id="cmpE0DBCBD210EEB84B2FE546162F07C376" Guid="{7CADD262-8DA0-4530-B537-13FB1C82FF1D}">
                <File Id="fil756422CB95AC98A122B628535E348CFD" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-string-l1-1-0.dll" />
            </Component>
            <Component Id="cmpD01CA70C06D9ADCC4F49058182448367" Guid="{1447E1F3-0ECF-4209-8C1A-EDCDC7769D47}">
                <File Id="filBA529A8BD882A2CAE02E14EEA7B22ADF" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-time-l1-1-0.dll" />
            </Component>
            <Component Id="cmp21CF0447C915302F93234E31801A67A7" Guid="{BAC4A997-D06B-45E1-9593-643569FA0A36}">
                <File Id="fil76FEC3CFC3B4E7E1F7410458BFA45411" KeyPath="yes" Source="$(var.BasePath)\api-ms-win-crt-utility-l1-1-0.dll" />
            </Component>
            <Component Id="cmpF49CB69CDD429FEC7EAA0A251392E1A3" Guid="{875F967B-11CC-4C39-8873-8887A86BBBD9}">
                <File Id="fil7A18E61051AE79324FBBD8C0EEC43010" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.CLI.dll" />
            </Component>
            <Component Id="cmpA1CC7FDE74936B81A83EBC3F813242DB" Guid="{4DDE0481-AB35-44C6-B202-2ECAD12C6439}">
                <File Id="fil604F94937DC9F10ACCB33AA280E30C0B" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.CLI.pdb" />
            </Component>
            <Component Id="cmp0DBF14FFC8B47321CC74C413886778BD" Guid="{5C03ED59-F85C-4E3B-9D03-F2E61D9930B2}">
                <File Id="fil8E4ECF04502D01B7538E0D12013B983E" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.Core.dll" />
            </Component>
            <Component Id="cmpEE95F5B786CA41135F018CEC840468A0" Guid="{4D55B8AE-6D45-407F-95CF-FDF56A0BFD0A}">
                <File Id="filC2C3CC0188FC566BEC8725647899619F" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.Core.pdb" />
            </Component>
            <Component Id="cmp2A790AEFFC06AC848032692CF170061D" Guid="{923FE633-9420-4A31-9382-6454B4D55DBA}">
                <File Id="filDD8C41A79082F256FE941F32E5C2AD29" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.DB.Contract.dll" />
            </Component>
            <Component Id="cmpAA4DBC878EC491C696E96601BCD00716" Guid="{879F9938-3781-4D85-BD7F-8C229F290BE1}">
                <File Id="filCD27212594311C4F20D0D7B1EBDBB50E" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.DB.Contract.pdb" />
            </Component>
            <Component Id="cmp0AD9A90CCBCE3AFE312DA9A930EDFA0A" Guid="{5BF44D10-D628-4978-9BE5-D188DA29F684}">
                <File Id="fil4F4D8CE1328291AC77DA09796AE5EC38" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.DB.dll" />
            </Component>
            <Component Id="cmp5C2F24E4B8AEE8EC01633E53F45B1235" Guid="{2460F1B8-61D1-4067-B8A6-140C2A6B7322}">
                <File Id="filD8E98FC9DF91E100EA70293E859260C6" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.DB.pdb" />
            </Component>
            <Component Id="cmp50F9CD25BE1068C30704EB67B8400D9E" Guid="{F36B7F05-3340-4A3A-BA53-6ECB9153A794}">
                <File Id="fil19D49A74DF4DE035F5D12F6DFE05AEE6" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.DB.SqlServer.dll" />
            </Component>
            <Component Id="cmp9C19DB58A5D888F1412A49010FAADDD8" Guid="{07976E51-BAC7-45C6-BCCB-8F84206BA416}">
                <File Id="filE4483B66EAA546FF6777F1DDFA3D22B7" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.DB.SqlServer.pdb" />
            </Component>
            <Component Id="cmpBCD1F915D5FFD103625CC00B69CE7F27" Guid="{BB1A5E15-574D-4BEB-9666-F34A9B3247A4}">
                <File Id="fil0AFA55FCE2B7EB38E0E5FB5E2EAE6C48" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.Helpers.dll" />
            </Component>
            <Component Id="cmpB83ECDF336E531E3B3AC23A447900720" Guid="{0494EAAE-4C57-4FF1-8145-DE9374C4FF22}">
                <File Id="fil6B116A0FB5B1CE50286B378899190B19" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.Helpers.pdb" />
            </Component>
            <Component Id="cmp0366AE6AA0313310954A43E2B8DE1C36" Guid="{FE49E0BE-C7B1-4FD1-AB5F-56836C007953}">
                <File Id="filFF1EC05DA7E3DA3C027C8C115C341E15" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.NotificationableEngine.dll" />
            </Component>
            <Component Id="cmpBFF09DA7FD4A2DAAF7701DC9BB88A6A2" Guid="{19BC1481-9BC4-4352-B766-D507B837D7B9}">
                <File Id="filF64FB3313410043A4CB7B9935EE06C1F" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.NotificationableEngine.pdb" />
            </Component>
            <Component Id="cmpCB933CC7A13B33BFCE9EE98B3F94CF17" Guid="{EF415C42-D0D7-44AE-9B24-87F2E5DE1B97}">
                <File Id="fil7C03BB52A8AE47A4B3CE85EA1893C75D" KeyPath="yes" Source="$(var.BasePath)\avdb.deps.json" />
            </Component>
            <Component Id="cmp04F9F4147FB0C397E4BC365072AEBCAA" Guid="{69F9861D-D4C1-4DE2-B490-5EB05B9A4C1A}">
                <File Id="filD969193E47066E7632E64FD95B077719" KeyPath="yes" Source="$(var.BasePath)\avdb.dll" />
            </Component>
            <Component Id="cmp1B88BAD697794991F62A7FA0FC13C76D" Guid="{0B3C1352-2745-42A8-B732-BC8F6FEBE796}">
                <File Id="fil75BD0A9D00B907F9E904B6BEA934E8E3" KeyPath="yes" Source="$(var.BasePath)\avdb.exe" />
            </Component>
            <Component Id="cmpE2D7B0A21615F054F7CB42E3F0E1FFAC" Guid="{15D761DC-0056-440C-B124-5871DE43FA33}">
                <File Id="fil8D1FD7F7C2183557CEF4573DDFF6A83B" KeyPath="yes" Source="$(var.BasePath)\avdb.pdb" />
            </Component>
            <Component Id="cmpEC6032CA14A1E175A4C518EE897368F7" Guid="{44765114-F426-4200-A35E-A0BAC71E9472}">
                <File Id="fil234D939E5854E96E6524D10AB1CF0551" KeyPath="yes" Source="$(var.BasePath)\avdb.runtimeconfig.json" />
            </Component>
            <Component Id="cmp2E5EDA8D72F327AFF452AE2FE00CEA69" Guid="{2E17F3AB-9F8F-4B56-B870-5CEA6BFCB944}">
                <File Id="fil0AC151BF3F546CFD05E806D12E6A5768" KeyPath="yes" Source="$(var.BasePath)\clrcompression.dll" />
            </Component>
            <Component Id="cmp4FD0997C338542D825893A7B99BCB1EF" Guid="{0ED60DF6-5C96-4653-AF91-258DE7E9D675}">
                <File Id="fil10B00363CA29492EFFC20B1401323297" KeyPath="yes" Source="$(var.BasePath)\clretwrc.dll" />
            </Component>
            <Component Id="cmp170DFF239B610B0ACA2229119DEA678E" Guid="{39810377-ED7B-4615-B99D-BF29160F9D0C}">
                <File Id="filE90347B97ED4AE7124A57EB903AE43EE" KeyPath="yes" Source="$(var.BasePath)\clrjit.dll" />
            </Component>
            <Component Id="cmp1FAC008E6AA14459AD5390EB28F23EFE" Guid="{8015A2F1-2E18-457C-9C22-33CB5310A75C}">
                <File Id="filDCDD15F7F6F6F4476AD67EA901580BA2" KeyPath="yes" Source="$(var.BasePath)\coreclr.dll" />
            </Component>
            <Component Id="cmp5DC61834042D8A563B1B0F5CEE7AD1E7" Guid="{97A08183-5918-426A-B52B-CA9BB91E2F35}">
                <File Id="filE07135178784FB8052BC2470B2BD2D1F" KeyPath="yes" Source="$(var.BasePath)\dbgshim.dll" />
            </Component>
            <Component Id="cmpD51C7DCAA0760E3A269231CFA7A989BF" Guid="{7A135E02-71A1-4614-89F9-A71A911CAA8E}">
                <File Id="fil85A6359F27FC15BF6766873998D82972" KeyPath="yes" Source="$(var.BasePath)\hostfxr.dll" />
            </Component>
            <Component Id="cmp2257790539B8870843640B5857727F5B" Guid="{5369076B-4079-4918-ABAC-00E53AF71EAF}">
                <File Id="filA82C6852012979D774CE6FA0C9E849DD" KeyPath="yes" Source="$(var.BasePath)\hostpolicy.dll" />
            </Component>
            <Component Id="cmpC9CE6FD0F9E9DFB943DBB4F09D32F05A" Guid="{AAA6A557-1A29-40F9-919B-139E9DBDA120}">
                <File Id="fil4AA0A6933C86860B14DECBAECD718A4D" KeyPath="yes" Source="$(var.BasePath)\Microsoft.CSharp.dll" />
            </Component>
            <Component Id="cmp4B6065E0A17CF05299642017B84D7228" Guid="{4E9412CE-A637-4986-80E2-6B8C97A2E7DA}">
                <File Id="fil6ED4FB0A9DFCCEAB87945F3165986368" KeyPath="yes" Source="$(var.BasePath)\Microsoft.DiaSymReader.Native.amd64.dll" />
            </Component>
            <Component Id="cmpC089979D7EDD0520871FCF59E4512F6A" Guid="{3667FBA3-95F9-4650-9BA9-79EF10881AEF}">
                <File Id="fil69885EF287CDAEE15C09BE435AEC1160" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp3E4F3E4686A9B425B5812E5171CCDEEF" Guid="{C4FC7EB0-67ED-430A-AFBD-7EC80FF40FEE}">
                <File Id="fil24DC60A8CFEFE326A0444D71C66806C1" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.Registry.dll" />
            </Component>
            <Component Id="cmpE35DDB3C925C83E74C7DAAE6FEA6C156" Guid="{186C8B3F-074A-49D8-8ED7-51FBEED61C1E}">
                <File Id="filEAEAE1CB9E8AC1FF00B05453ABEE2ADF" KeyPath="yes" Source="$(var.BasePath)\mscordaccore.dll" />
            </Component>
            <Component Id="cmpE22673493C1EB7C2C752E9D89EA63ABE" Guid="{4F953513-B15E-4D81-B477-1AF2EBB85FD8}">
                <File Id="fil012036F4808EA9832B652F86F8418055" KeyPath="yes" Source="$(var.BasePath)\mscordaccore_amd64_amd64_4.700.20.51601.dll" />
            </Component>
            <Component Id="cmpA5ABEAD31F33B1E5825EC6F159ABFB0F" Guid="{3E501F09-F898-4DF2-8C72-EE06935DE181}">
                <File Id="fil1A6B0EBD5A5BF8DD0582A2665D3492F1" KeyPath="yes" Source="$(var.BasePath)\mscordbi.dll" />
            </Component>
            <Component Id="cmpF9CF939A2A6923752CD1F985F06B6D81" Guid="{C0BC5B9E-E011-41F0-B0B6-C95F0EE46C8F}">
                <File Id="fil5490F6A54CA521132AA21176A043F6BA" KeyPath="yes" Source="$(var.BasePath)\mscorrc.debug.dll" />
            </Component>
            <Component Id="cmp57B8361D25AD503DC733F4039E5A38B0" Guid="{02632C39-7D3E-45B6-AC0A-74425E350AB9}">
                <File Id="fil85A18A68043DF7CE61683156FF7F660F" KeyPath="yes" Source="$(var.BasePath)\mscorrc.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{C207CADA-39B4-40D6-B623-E0CCDECF9CFA}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpDA60982F820038280380BE207B6E738E" Guid="{E5FD89D8-3806-49DA-AA45-B0E57EAD40BB}">
                <File Id="filFB25B5D44CA54D4D876DD0B5BC0DA0E0" KeyPath="yes" Source="$(var.BasePath)\Ninject.dll" />
            </Component>
            <Component Id="cmpE78757BD03463E74652C32CEEAB79A64" Guid="{7452FFBA-B330-416F-87FC-9448911851F5}">
                <File Id="fil3D4C95920C2AC75503C11D9296D4B8BB" KeyPath="yes" Source="$(var.BasePath)\sni.dll" />
            </Component>
            <Component Id="cmp4A3650BF9490F28818DA214BCC72C248" Guid="{4EB43ABD-B91D-4094-B3CF-B8578F677062}">
                <File Id="fil29DAF6E2B9B4ACF67EB0C784127C1B4F" KeyPath="yes" Source="$(var.BasePath)\SOS_README.md" />
            </Component>
            <Component Id="cmp602E8F2B93FE6578A846F762EC68A1D9" Guid="{B5139010-4769-4581-B925-E2C2997C8DD2}">
                <File Id="fil8A8EC4001DD8F96250E301ED6A1E3783" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp3DA1940FB9C385E5772FD6B27D952566" Guid="{C1AF211C-504D-4BDE-BCE5-142C2737084C}">
                <File Id="fil61FB0EF6F8353D5D25E080C4B6E602C0" KeyPath="yes" Source="$(var.BasePath)\System.Collections.dll" />
            </Component>
            <Component Id="cmp969F6EDF2594F3809D7A716387BF8894" Guid="{8914238C-0353-4B27-9141-AA182B4779AF}">
                <File Id="fil60E3CB228DB7CBE488269EDFC1321CC6" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmp1340CAF41213E899D78462CF580BF2AD" Guid="{715C6C70-52D6-4F82-B46F-EB04507C317B}">
                <File Id="filE68AB55348C2F39BA40CC24DA31D4211" KeyPath="yes" Source="$(var.BasePath)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmp4CA8A8377EC5F30AF1C8BF2ABE2B916B" Guid="{519C3E81-2BD4-4FA2-9680-A47BC137FEC9}">
                <File Id="filF574BF00EFD9442D9E5911559F8D7CB3" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmp3B9C9B9385920A10BBA478F4EB3B7ACD" Guid="{685D5730-1D22-4FA7-9890-2C687B9C7145}">
                <File Id="fil88E781372CFBEE069440964A1F323BF4" KeyPath="yes" Source="$(var.BasePath)\System.CommandLine.dll" />
            </Component>
            <Component Id="cmp912EE5CA7F0C138422055A3D0C240C38" Guid="{BFC89020-5AB2-402B-9B02-83A18631644C}">
                <File Id="fil8084AE81753074831DC96EB13423F40D" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmp0E07B6458918A72AFC17E557DDF86BE9" Guid="{BE6947E2-84A4-4910-9870-6B9E9CC75798}">
                <File Id="fil757C2B539CEF8E96C5DAF1634B560D0F" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmp9CD588F7BA24625E3D5679886E12AD98" Guid="{4788378C-4C36-465F-A103-8B88DAB1007C}">
                <File Id="fil057857F4AB9C19007F7BB13F6DAB4F8E" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" Guid="{1CD4BBE0-A44A-47E0-9A4C-B40064833CEB}">
                <File Id="fil08A6ABF18A6A31D6C7924DD13873F17E" KeyPath="yes" Source="$(var.BasePath)\System.Console.dll" />
            </Component>
            <Component Id="cmp5C82A05FA23F935F2AF47CD1A8E11EF5" Guid="{39515B85-54AE-41E0-93DB-A73CAE8B3DBA}">
                <File Id="filE0AB56016BACB84E3B4D8920E3BC3B88" KeyPath="yes" Source="$(var.BasePath)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp7FFA1CFB45EDA1442E42E34E1F3DB27E" Guid="{5FE226C4-D24A-441A-8CDF-A6548600F467}">
                <File Id="filEF4B8F9C45AD18CA9F559E7A542D0C98" KeyPath="yes" Source="$(var.BasePath)\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmpE722E076AB8486E4A4F24B01268787A2" Guid="{20B84B6C-61F9-4D8F-9DE6-B9CF2822B1FB}">
                <File Id="fil92FE767CE7126933F4E9DEEEBAAE9354" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.DiagnosticSource.dll" />
            </Component>
            <Component Id="cmpD23621427F9427EADECDFB75824E8F4E" Guid="{295B04E2-91E8-434F-935C-61A8B393A523}">
                <File Id="filA2202346FF26F0ADE22443C43E9EA3EA" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmpB3E27F13800A8FF984F132723F98897C" Guid="{AA9C16A5-B4D6-4685-B659-C72D7D003A44}">
                <File Id="filDBF3A4F1AEA58FEDB0007DD546ADD630" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" Guid="{86571EBF-8922-4AB1-BFC1-C8181F50DDE0}">
                <File Id="fil589087C30E15FFAD786A80C79F228C31" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmpBDFBFA929E7957E9AB4B89B1C6BBCD7A" Guid="{0AD5238D-7483-4528-913D-B3EB66F61265}">
                <File Id="fil51DF554AB19C81BD826675A139E6342C" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmp08477E3E9CCCB3373C6D6B557560F00D" Guid="{243DA41C-4AA1-498E-A63B-3010CDB8F6A7}">
                <File Id="filB3F994E499D6B2658F4935DB290BBD4C" KeyPath="yes" Source="$(var.BasePath)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmp5E152418F44B197588C8F9A4DDF04671" Guid="{34ECD39F-CE93-4650-B63B-EB0CE4D60DA9}">
                <File Id="fil774AACD1EEB82B127C4F31CF1E4F2D89" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.Brotli.dll" />
            </Component>
            <Component Id="cmpC8D343DED6ECA227B78780388C7AA77C" Guid="{9485A06F-AE00-4240-A698-80709BFC6FCC}">
                <File Id="fil8C21BB6ED9A67550B3F3EE8EF35E5A89" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmpD40621D43FCB57C24FE91D5292CDCA60" Guid="{A66B74C1-A827-45F0-8573-048BBF80798A}">
                <File Id="fil58D577100F63265F0448602DFD48190C" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp2BF489548413875B5E6C82837FCD954F" Guid="{D91CCB8F-92F1-47E9-B0FC-337EB680DDEE}">
                <File Id="filB910A291C5575D86F028725A2C33BF2D" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmp27E36B7C8DB5461A9579366D20E5DD16" Guid="{ED289245-61D5-4292-AC8A-98CF65953DEE}">
                <File Id="fil7F43DE255F0B70BD8014CC9F0611E6A9" KeyPath="yes" Source="$(var.BasePath)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmpB23C66A8B8F46E3F568C19DFB6A6E1A4" Guid="{E15EF337-8264-48D8-969F-CEF61A3C5D79}">
                <File Id="fil8EAA03164AF160196E835AAF613219D0" KeyPath="yes" Source="$(var.BasePath)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" Guid="{61640177-5E0D-4720-9113-370127B308ED}">
                <File Id="fil598A363D5498D9DDBAFE6880F82F75CA" KeyPath="yes" Source="$(var.BasePath)\System.Linq.dll" />
            </Component>
            <Component Id="cmpE2761380A2AA89636D5B95A135451B7F" Guid="{E5B02613-ACBB-4FD1-A3BF-3AB4F222D9EE}">
                <File Id="fil33155AE23C9BC1A3E340E9A8ABDE1D42" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" Guid="{3042AF81-421D-4B70-9AA1-7656C6DA6101}">
                <File Id="fil7D48B04FDEE4653060C375A94010A762" KeyPath="yes" Source="$(var.BasePath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp8487DBCD10F6EA164525782F92DE4F4F" Guid="{D3768100-3076-48D1-B1CF-0B49BB1B1428}">
                <File Id="fil69D9F4812C174BFB653C73FDA9A444E0" KeyPath="yes" Source="$(var.BasePath)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmpA79F27EC312D0A6A5E914E2D5E6EAAFB" Guid="{575DC012-76AB-4CF9-B9DC-0F9653DCD249}">
                <File Id="filC663E3CB9E88525B42D5B8916035A2EE" KeyPath="yes" Source="$(var.BasePath)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" Guid="{47D33517-628C-4956-BB6B-6C2B3E4CAE94}">
                <File Id="fil9E23EE919E61291572A9E7A02358BE0B" KeyPath="yes" Source="$(var.BasePath)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmp1F98307E0E8546CD03283A275A109E29" Guid="{5676AB54-02C4-41BD-8E40-7F791A50AA2A}">
                <File Id="filABF76F5E8887AC62C808D141EEE7F90D" KeyPath="yes" Source="$(var.BasePath)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp661DE9832C6188B3A05455224EB65C4A" Guid="{BE6FE69D-7DBE-419D-A6C2-FB57804BF392}">
                <File Id="fil1D7AB309A4579D55C17E387F8DFFAE30" KeyPath="yes" Source="$(var.BasePath)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmp8E3852370BA1AE4CF400F39FCCDA03D6" Guid="{FF0A0DC2-5E51-4489-A133-5D46ED9F1956}">
                <File Id="filF31EC463F2BCDA3FBA9E27555B78248A" KeyPath="yes" Source="$(var.BasePath)\System.Net.ServicePoint.dll" />
            </Component>
            <Component Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" Guid="{3821D728-5CC0-43DC-B67D-5EC136167203}">
                <File Id="fil823B0C5D79C138C9B43DE503AE851AF3" KeyPath="yes" Source="$(var.BasePath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" Guid="{04E06EFE-B6B2-4842-9091-B45FAE2E68B0}">
                <File Id="fil56CADEAFFCFAFECB7B1BDB9CFD8987F1" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" Guid="{A3F63518-4E40-4A1B-95CE-9B4E13A8D5F3}">
                <File Id="fil9A7CC4FBC706133927299AE792CF930C" KeyPath="yes" Source="$(var.BasePath)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmp2DB01C2F4195AA81E62D885F63BE7641" Guid="{62ACCB88-B7BC-41AC-9D43-85FB077AE956}">
                <File Id="fil5F20267552D2080D363590717A478A65" KeyPath="yes" Source="$(var.BasePath)\System.Private.CoreLib.dll" />
            </Component>
            <Component Id="cmp1BF66780B6F5DC544844F175D2217D45" Guid="{D18A03E6-B78C-42FB-B311-9E263BF44C64}">
                <File Id="fil61B45F4CB4B92624343A3825909B2603" KeyPath="yes" Source="$(var.BasePath)\System.Private.Uri.dll" />
            </Component>
            <Component Id="cmpD2D406D08D2C2D891122355DB33D02D0" Guid="{17975607-949D-4A5B-8C8B-73ACB0E74E64}">
                <File Id="fil30AEEA8E30A25E3F992AFBC4E978B1EC" KeyPath="yes" Source="$(var.BasePath)\System.Private.Xml.dll" />
            </Component>
            <Component Id="cmp1333ED3B16D8F8DA45E77A4CE5FCD880" Guid="{297EE2DA-682A-4A6E-96E5-14A74DEEF0FD}">
                <File Id="fil0E88E58D4BC67A706C27F550F4AD0845" KeyPath="yes" Source="$(var.BasePath)\System.Private.Xml.Linq.dll" />
            </Component>
            <Component Id="cmp2FF83375B57E90E070D5274FE375C377" Guid="{89E22BF2-2D8E-4002-AB41-584CC5889FEE}">
                <File Id="fil91EF703BE463A4F6D596BD34EF59864F" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Metadata.dll" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="{A4220EEB-FAD7-4B22-91C5-211021E947FE}">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp5535623A0957F12A580F2E0AE9AB7F24" Guid="{E2475083-8E38-4504-B283-DA32DDA816E8}">
                <File Id="fil1F7505072F9E81ACFDD7E6910787823E" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp1F804D02F421408F7E20267C22EA6672" Guid="{464AF19D-1F50-489A-895D-173B87469F32}">
                <File Id="fil46F95A243148C958E6F1AB4B4F561CB1" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" Guid="{0A1380E6-4C81-4493-9790-78B912C72F1E}">
                <File Id="fil02EF2737879749E35F209C9B7DCA391D" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmp41A90A30E3B6DE65B53B94DD925F5178" Guid="{F9FA3030-B712-4D32-908C-7BD217F9FA83}">
                <File Id="filC968DB2890AADD4FA67468C2A7B10151" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmp552DDD4A29039B8C3A99A908722A24F8" Guid="{2DD3E7F8-3019-4A80-A738-A1D30DA1E80A}">
                <File Id="fil4EF07533CCADC5D11E070B55437037C4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmpA79A142FCEA412B1ABBD7BE954692F65" Guid="{F732B28D-93FF-4D8C-97A9-641E81295948}">
                <File Id="fil0B3269E73A503751E3461F1BA6DEB094" KeyPath="yes" Source="$(var.BasePath)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" Guid="{C7ACF35A-1B86-4086-82FA-02BF3B2B9EC0}">
                <File Id="filF9336650B5D207916A83BC080A440D23" KeyPath="yes" Source="$(var.BasePath)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmpFF30060800C65B79967082C32327291C" Guid="{E0B8C6F0-EC98-453D-A6D9-5772F7A884AD}">
                <File Id="filAB211F3F0ECB04AF6C2378C73893A0C8" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp57EA072774F603C6027C2714CBDD71F1" Guid="{37EEB023-F627-4400-8715-1A35456286C5}">
                <File Id="filEA9C6EF0458E2F0D8620A7A9AE239BAD" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Cng.dll" />
            </Component>
            <Component Id="cmp77638A88DFF018673C9539C4C63849F1" Guid="{CD5AA0DA-E7CB-448C-BB15-C545DA8C9DEA}">
                <File Id="filA76FAFC53D43269049D637292976CF51" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" Guid="{A26190C2-9CD0-4BFF-A1CE-16A28D9A9BF0}">
                <File Id="filED8707AB753EEF87C2288DCB64CF7A12" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmp0136E6693E0DF16DBA25B9082AEA0615" Guid="{7601F4B5-68B5-415F-B1A9-FE57B90E0536}">
                <File Id="fil25474CD58A18AB4C2CD00F08A6BC9775" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" Guid="{42CB9105-8F9C-4641-866E-DAEBF6F64132}">
                <File Id="fil442CB099348F299818A47DAF4107BAD6" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp82F2DB94B35989B5500883F0A3BD8505" Guid="{56BC1F45-EF22-4D86-A6E0-81496C8D2FE4}">
                <File Id="filD2D8BE6ECEE6993CF4F1FF23EB2E93BB" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmp98A131703008D3AC809721FE16EEAFF8" Guid="{7F14B8C2-3CE9-4001-897D-08E3E554F5F2}">
                <File Id="fil50D3CD433FCD76F25C71E81C31B6DD3A" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp3111300711520E1E5FE2933E642DA29F" Guid="{55E7B776-0239-4FF9-80AD-AE82F64E1018}">
                <File Id="fil1A0D25A762964F5C1F5E598DAE4D7F6C" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.CodePages.dll" />
            </Component>
            <Component Id="cmp0B61CF5FB51B4607DDD38343361694DD" Guid="{5DDDF803-128A-48A7-BB17-09769B4C552F}">
                <File Id="filDF47AF6394D3BCA07F18B1B1DED956F6" KeyPath="yes" Source="$(var.BasePath)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmp4F66696435AF52B4004244E4317C3A36" Guid="{55D702D8-7688-4811-B357-A35AC18F7018}">
                <File Id="fil60A034579633C7885272AE77DE2AA308" KeyPath="yes" Source="$(var.BasePath)\System.Transactions.Local.dll" />
            </Component>
            <Component Id="cmpB67698E8021557AB8B9CC56808EA4FD2" Guid="{1F7A3780-76CA-4F69-9050-A04E98A87C74}">
                <File Id="fil4632E4BAE83C5DDA6408E46C4A1F0259" KeyPath="yes" Source="$(var.BasePath)\ucrtbase.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpF22D40156F8E16FBFA89C752FF9D0EF9" />
            <ComponentRef Id="cmp742C123932C1A216E185167E7780B396" />
            <ComponentRef Id="cmp0C2E6E9A00C3293AC27A114F5CD9CE2A" />
            <ComponentRef Id="cmp6EBAE5ACCACC27065A435A0042E7BAED" />
            <ComponentRef Id="cmp8654E1D8A29D75D1863BECEDD37AC0AE" />
            <ComponentRef Id="cmp41E89377B0002CC2350CF2F309C7EF96" />
            <ComponentRef Id="cmpDEE5CBC14AEA029E9F4401E5B3982607" />
            <ComponentRef Id="cmp590BD4AE87E294D1563CF4D557250096" />
            <ComponentRef Id="cmpCF2CF8C7A0C59052CAA01587AA5785DC" />
            <ComponentRef Id="cmpDD279108FA0E596011006D554F6A3104" />
            <ComponentRef Id="cmpCD74B7BA0C179921851020BBB033014C" />
            <ComponentRef Id="cmpAC8BDC4BFF75C5529DB6BFA54526ED0C" />
            <ComponentRef Id="cmp8C8498D921E5B275BE6C7E3DA8DCEB68" />
            <ComponentRef Id="cmp9AE39696CCE4B2BA21A7559EDA2F0D90" />
            <ComponentRef Id="cmp5D145C20D5E90C9E54B87DDC549105EA" />
            <ComponentRef Id="cmp4BC27243200E3663A58563BC8AD5A268" />
            <ComponentRef Id="cmp3C1343875198F364F70980382E32F197" />
            <ComponentRef Id="cmpECDFB8DD1F83358D411D63B1F980153E" />
            <ComponentRef Id="cmp1E66ED1BF30236B52829E44485A58E50" />
            <ComponentRef Id="cmp43C0DEA19BA8D8C7F25F0DD08B502FBD" />
            <ComponentRef Id="cmpBE4AFE403859DE3CDCB4C17CE29AD9B1" />
            <ComponentRef Id="cmp6FB01AFC7883E57A54B9364FE007F69A" />
            <ComponentRef Id="cmp34831A79EBBEDE365CF8E47BB8DA4AEE" />
            <ComponentRef Id="cmpC5B1C289707493DC1A9765CBF1619688" />
            <ComponentRef Id="cmpBDCBA58D640E71BC077901A457EFAA06" />
            <ComponentRef Id="cmp74F6E981444243E078C5E033BD078819" />
            <ComponentRef Id="cmp20DD0168324B65A2B89EB723FB32E7F3" />
            <ComponentRef Id="cmpDD9A8434CB4A6317B4BA2A55410983F6" />
            <ComponentRef Id="cmp11E56753706BD7FE87724F732A73F490" />
            <ComponentRef Id="cmp8A47DE6FFCA0BA39168EFA51F2E3ECFF" />
            <ComponentRef Id="cmp4B8C11AC4FCB7CB42D55737034265B39" />
            <ComponentRef Id="cmp3E56BCDB6A50B4AA292F631457D3032D" />
            <ComponentRef Id="cmp995D66766A5CFBA5514D9EBED950459D" />
            <ComponentRef Id="cmp4823CF61E7C973B92C27FA84E4DB141A" />
            <ComponentRef Id="cmp14FD53BFC562B74A90211F6A7FA45EF8" />
            <ComponentRef Id="cmp8C8DF6C3F20B60706F1C2D2317BA7664" />
            <ComponentRef Id="cmpFE2451868FE2A2D25EE3375499109233" />
            <ComponentRef Id="cmpE0DBCBD210EEB84B2FE546162F07C376" />
            <ComponentRef Id="cmpD01CA70C06D9ADCC4F49058182448367" />
            <ComponentRef Id="cmp21CF0447C915302F93234E31801A67A7" />
            <ComponentRef Id="cmpF49CB69CDD429FEC7EAA0A251392E1A3" />
            <ComponentRef Id="cmpA1CC7FDE74936B81A83EBC3F813242DB" />
            <ComponentRef Id="cmp0DBF14FFC8B47321CC74C413886778BD" />
            <ComponentRef Id="cmpEE95F5B786CA41135F018CEC840468A0" />
            <ComponentRef Id="cmp2A790AEFFC06AC848032692CF170061D" />
            <ComponentRef Id="cmpAA4DBC878EC491C696E96601BCD00716" />
            <ComponentRef Id="cmp0AD9A90CCBCE3AFE312DA9A930EDFA0A" />
            <ComponentRef Id="cmp5C2F24E4B8AEE8EC01633E53F45B1235" />
            <ComponentRef Id="cmp50F9CD25BE1068C30704EB67B8400D9E" />
            <ComponentRef Id="cmp9C19DB58A5D888F1412A49010FAADDD8" />
            <ComponentRef Id="cmpBCD1F915D5FFD103625CC00B69CE7F27" />
            <ComponentRef Id="cmpB83ECDF336E531E3B3AC23A447900720" />
            <ComponentRef Id="cmp0366AE6AA0313310954A43E2B8DE1C36" />
            <ComponentRef Id="cmpBFF09DA7FD4A2DAAF7701DC9BB88A6A2" />
            <ComponentRef Id="cmpCB933CC7A13B33BFCE9EE98B3F94CF17" />
            <ComponentRef Id="cmp04F9F4147FB0C397E4BC365072AEBCAA" />
            <ComponentRef Id="cmp1B88BAD697794991F62A7FA0FC13C76D" />
            <ComponentRef Id="cmpE2D7B0A21615F054F7CB42E3F0E1FFAC" />
            <ComponentRef Id="cmpEC6032CA14A1E175A4C518EE897368F7" />
            <ComponentRef Id="cmp2E5EDA8D72F327AFF452AE2FE00CEA69" />
            <ComponentRef Id="cmp4FD0997C338542D825893A7B99BCB1EF" />
            <ComponentRef Id="cmp170DFF239B610B0ACA2229119DEA678E" />
            <ComponentRef Id="cmp1FAC008E6AA14459AD5390EB28F23EFE" />
            <ComponentRef Id="cmp5DC61834042D8A563B1B0F5CEE7AD1E7" />
            <ComponentRef Id="cmpD51C7DCAA0760E3A269231CFA7A989BF" />
            <ComponentRef Id="cmp2257790539B8870843640B5857727F5B" />
            <ComponentRef Id="cmpC9CE6FD0F9E9DFB943DBB4F09D32F05A" />
            <ComponentRef Id="cmp4B6065E0A17CF05299642017B84D7228" />
            <ComponentRef Id="cmpC089979D7EDD0520871FCF59E4512F6A" />
            <ComponentRef Id="cmp3E4F3E4686A9B425B5812E5171CCDEEF" />
            <ComponentRef Id="cmpE35DDB3C925C83E74C7DAAE6FEA6C156" />
            <ComponentRef Id="cmpE22673493C1EB7C2C752E9D89EA63ABE" />
            <ComponentRef Id="cmpA5ABEAD31F33B1E5825EC6F159ABFB0F" />
            <ComponentRef Id="cmpF9CF939A2A6923752CD1F985F06B6D81" />
            <ComponentRef Id="cmp57B8361D25AD503DC733F4039E5A38B0" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpDA60982F820038280380BE207B6E738E" />
            <ComponentRef Id="cmpE78757BD03463E74652C32CEEAB79A64" />
            <ComponentRef Id="cmp4A3650BF9490F28818DA214BCC72C248" />
            <ComponentRef Id="cmp602E8F2B93FE6578A846F762EC68A1D9" />
            <ComponentRef Id="cmp3DA1940FB9C385E5772FD6B27D952566" />
            <ComponentRef Id="cmp969F6EDF2594F3809D7A716387BF8894" />
            <ComponentRef Id="cmp1340CAF41213E899D78462CF580BF2AD" />
            <ComponentRef Id="cmp4CA8A8377EC5F30AF1C8BF2ABE2B916B" />
            <ComponentRef Id="cmp3B9C9B9385920A10BBA478F4EB3B7ACD" />
            <ComponentRef Id="cmp912EE5CA7F0C138422055A3D0C240C38" />
            <ComponentRef Id="cmp0E07B6458918A72AFC17E557DDF86BE9" />
            <ComponentRef Id="cmp9CD588F7BA24625E3D5679886E12AD98" />
            <ComponentRef Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" />
            <ComponentRef Id="cmp5C82A05FA23F935F2AF47CD1A8E11EF5" />
            <ComponentRef Id="cmp7FFA1CFB45EDA1442E42E34E1F3DB27E" />
            <ComponentRef Id="cmpE722E076AB8486E4A4F24B01268787A2" />
            <ComponentRef Id="cmpD23621427F9427EADECDFB75824E8F4E" />
            <ComponentRef Id="cmpB3E27F13800A8FF984F132723F98897C" />
            <ComponentRef Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" />
            <ComponentRef Id="cmpBDFBFA929E7957E9AB4B89B1C6BBCD7A" />
            <ComponentRef Id="cmp08477E3E9CCCB3373C6D6B557560F00D" />
            <ComponentRef Id="cmp5E152418F44B197588C8F9A4DDF04671" />
            <ComponentRef Id="cmpC8D343DED6ECA227B78780388C7AA77C" />
            <ComponentRef Id="cmpD40621D43FCB57C24FE91D5292CDCA60" />
            <ComponentRef Id="cmp2BF489548413875B5E6C82837FCD954F" />
            <ComponentRef Id="cmp27E36B7C8DB5461A9579366D20E5DD16" />
            <ComponentRef Id="cmpB23C66A8B8F46E3F568C19DFB6A6E1A4" />
            <ComponentRef Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" />
            <ComponentRef Id="cmpE2761380A2AA89636D5B95A135451B7F" />
            <ComponentRef Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" />
            <ComponentRef Id="cmp8487DBCD10F6EA164525782F92DE4F4F" />
            <ComponentRef Id="cmpA79F27EC312D0A6A5E914E2D5E6EAAFB" />
            <ComponentRef Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" />
            <ComponentRef Id="cmp1F98307E0E8546CD03283A275A109E29" />
            <ComponentRef Id="cmp661DE9832C6188B3A05455224EB65C4A" />
            <ComponentRef Id="cmp8E3852370BA1AE4CF400F39FCCDA03D6" />
            <ComponentRef Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" />
            <ComponentRef Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" />
            <ComponentRef Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" />
            <ComponentRef Id="cmp2DB01C2F4195AA81E62D885F63BE7641" />
            <ComponentRef Id="cmp1BF66780B6F5DC544844F175D2217D45" />
            <ComponentRef Id="cmpD2D406D08D2C2D891122355DB33D02D0" />
            <ComponentRef Id="cmp1333ED3B16D8F8DA45E77A4CE5FCD880" />
            <ComponentRef Id="cmp2FF83375B57E90E070D5274FE375C377" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmp5535623A0957F12A580F2E0AE9AB7F24" />
            <ComponentRef Id="cmp1F804D02F421408F7E20267C22EA6672" />
            <ComponentRef Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" />
            <ComponentRef Id="cmp41A90A30E3B6DE65B53B94DD925F5178" />
            <ComponentRef Id="cmp552DDD4A29039B8C3A99A908722A24F8" />
            <ComponentRef Id="cmpA79A142FCEA412B1ABBD7BE954692F65" />
            <ComponentRef Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" />
            <ComponentRef Id="cmpFF30060800C65B79967082C32327291C" />
            <ComponentRef Id="cmp57EA072774F603C6027C2714CBDD71F1" />
            <ComponentRef Id="cmp77638A88DFF018673C9539C4C63849F1" />
            <ComponentRef Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" />
            <ComponentRef Id="cmp0136E6693E0DF16DBA25B9082AEA0615" />
            <ComponentRef Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" />
            <ComponentRef Id="cmp82F2DB94B35989B5500883F0A3BD8505" />
            <ComponentRef Id="cmp98A131703008D3AC809721FE16EEAFF8" />
            <ComponentRef Id="cmp3111300711520E1E5FE2933E642DA29F" />
            <ComponentRef Id="cmp0B61CF5FB51B4607DDD38343361694DD" />
            <ComponentRef Id="cmp4F66696435AF52B4004244E4317C3A36" />
            <ComponentRef Id="cmpB67698E8021557AB8B9CC56808EA4FD2" />
        </ComponentGroup>
    </Fragment>
</Wix>