<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpF7E90042B29BE4EB501C5BADFE974139" Guid="{B75B1A1C-3AD6-4AF7-BAC4-3C3D9ED5E168}">
                <File Id="fil14A16DE4871020374555E8E6A3BB7F42" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.WinApp.exe" />
            </Component>
            <Component Id="cmp511008A99417D70CA71C649E39557E1A" Guid="{819BDBE3-F6D4-402C-B077-1B4E32E01711}">
                <File Id="fil26A03CF9922F68ED7DDE8FC27E175B7C" KeyPath="yes" Source="$(var.BasePath)\AutoVersionsDB.WinApp.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpF7E90042B29BE4EB501C5BADFE974139" />
            <ComponentRef Id="cmp511008A99417D70CA71C649E39557E1A" />
        </ComponentGroup>
    </Fragment>
</Wix>